################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
.sql-scripts/
appsettings.Development.json
appsettings.Production.json
Deployment/compose-data

*.user
*.http