################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
.sql-scripts/
appsettings.Development.json
Deployment/compose-data
/Np.NotesService/Np.NotesService.Api/appsettings.Production.json
/Np.NotesService/Np.NotesService.Api/Np.NotesService.Api.csproj.user
/Np.RelationsService/Np.RelationsService.Api/appsettings.Production.json
/Np.RelationsService/Np.RelationsService.Api/Np.RelationsService.Api.csproj.user
/Np.RelationsService/Np.RelationsService.Api/Np.RelationsService.Api.http
